# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
venv/
env/
miniconda3/

# Model / cache
pretrained_models/
.cache/
*.onnx
*.pt
*.zip

# Outputs
outputs/
batch_outputs/
*.wav

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
.github/workflows/
